.input {
  width: 4rem;
  padding: 0.1rem;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: paleturquoise;
  font-size: 1.5rem;
  border-radius: 15%;
}

.label {
  font-weight: bold;
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}


.input:focus {
  background-color: cyan;
}