.headings {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.intervalSection {
  width: 100vw;
  height: 21vh;
  background-color: rgb(235, 164, 188);
  display: flex;
  flex-direction: column;
}

.breakSection {
  width: 100vw;
  height: 14vh;
  background-color: palegoldenrod;
  display: flex;
  flex-direction: column;
}

.roundsSection {
    width: 100vw;
  height: 14vh;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
}

.flexRow {
display: flex;
flex-direction: row;
justify-content: center;
}

.setTrainingTime {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}