.startButton {
  width: 9rem;
  height: 9rem;
  background-color:rgb(235, 164, 188);
  border-radius: 50%;
  font-size: 3rem;
  font-weight: bold;
  border: 5px solid black;
}

.startButton:focus, .startButton:hover {
  background-color: rgb(142, 243, 209);
}
